body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    height: 64px;
}

h1 {
    color: #eee;
    size: 28px;
    text-align: center;
    padding-top: 15px;
}

h2 {
    size: 24px;
    margin-top: 30px;
}

.container {
    width: 1024px;
    text-align: center;
    margin: 0 auto;
}

#main-bio {
    text-align: left;
    width: 70%;
    float: left;
    font-size: 19px;
}

#main-bio h2 {
    text-align: left;
}

#bio-image {
    float: left;
    width: 200px;
    margin-right: 14px;
}

#contact-info {
    width: 30%;
    float: left;
    line-height: 24px;
}

#contact-info h2 {
    text-align: left;
    margin-top: 40px;
}

#contact-info ul {
    text-align: left;
    font-size: 16px;
}

a {
    color: #d21034;
}